.right-banner {
    width: 70vw;
    background-color: #F7ECDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-banner>.notes-img {
    width: 34.4rem;
    height: 15.7rem;
}

.pocket {
    font-family: var(--font-family-roboto);
    font-size: 2rem;
    letter-spacing: 1px;
}

.text,
.lock-text {
    margin-top: 10px;
    color: #292929;
    font-family: var(--font-family-roboto);
    width: 31.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.4px;
}

.right-banner>div {
    position: absolute;
    bottom: 10px;
}

.lock-text {
    position: relative;
    bottom: 3px;
    left: 5px;
}

@media screen and (max-width:500px) {
    .right-banner {
        display: none;
    }
}